absl-py==0.9.0
aiohttp==3.7.4.post0
aiohttp-cors==0.7.0
aioredis==1.3.1
artemis-ml==2.0.0
ase==3.21.1
async-timeout==3.0.1
biopython==1.78
blessings==1.7
cachetools==4.2.1
colorful==0.5.4
dataclasses==0.6
decorator==4.4.2
dgl-cu111==0.6.1
dill==0.3.3
flatbuffers==1.12
funsor==0.3.0
google-api-core==1.26.2
google-auth==1.28.0
googleapis-common-protos==1.53.0
googledrivedownloader==0.4
googlesearch-python==1.0.1
gpustat==0.6.0
grpcio==1.36.1
hiredis==1.1.0
isodate==0.6.0
matplotlib==3.3.4
makefun==1.9.4
multidict==5.1.0
mxnet==1.8.0.post0
numpy=1.19.2
ninja==1.10.2
nvidia-ml-py3==7.352.0
opencensus==0.7.12
opencensus-context==0.1.2
opt-einsum==3.2.1
parsita==1.4.0
pdb-tools==2.4.1
pip==20.2.3
protobuf==3.12.2
py-spy==0.3.5
pyasn1==0.4.8
pyasn1-modules==0.2.8
pygsom==0.0.2
pygtrie==2.4.2
pyqt5==5.15.4
pyqt5-qt5==5.15.2
pyqt5-sip==12.9.0
pyro-api==0.1.2
pyro-ppl==1.6.0
python-louvain==0.15
pytorch-ignite==0.4.4
ray==1.2.0
rdflib==5.0.0
redis==3.5.3
rsa==4.7.2
scipy==1.5.2
seq-conv==1.0.2
seqmagick==0.8.4
si-prefix==1.2.2
sru==2.6.0
tabulate==0.8.7
tensorboardx==2.1
torch==1.8.1+cu111
torch-cluster==1.5.9
torch-geometric==1.7.0
torch-geometric-temporal==0.27
torch-scatter==2.0.6
torch-sparse==0.6.9
torch-spline-conv==1.2.1
yarl==1.6.3

